@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --foreground-rgb: 0, 0, 0; */
}

@media (prefers-color-scheme: dark) {
    /* :root {
        --foreground-rgb: 255, 255, 255;
    } */
}

body {
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}
